<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">


	<bean id="dataSource"
		class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName"
			value="com.mysql.jdbc.Driver">
		</property>
		<property name="url"
			value="jdbc:mysql://localhost:3306/db_toupiao?useUnicode=true&amp;amp;amp;amp;amp;amp;characterEncoding=utf-8">
		</property>
		<property name="username" value="root"></property>
		<property name="password" value=""></property>
	</bean>
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">
					org.hibernate.dialect.SQLServerDialect
				</prop>
				<prop key="hibernate.show_sql">true</prop>
			</props>
		</property>
		<property name="mappingResources">
			<list>
				<value>com/model/TAdmin.hbm.xml</value>
			    <value>com/model/TGonggao.hbm.xml</value>
			    <value>com/model/TUser.hbm.xml</value>
			    <value>com/model/TToupiao.hbm.xml</value>
			    <value>com/model/TToupiaoxuanxiang.hbm.xml</value>
			    <value>com/model/TWenjuan.hbm.xml</value>
			</list>
		</property>
	</bean>
	
	
	<bean id="indexAction" class="com.action.indexAction" scope="prototype">
	    <property name="wenjuanDAO">
			<ref bean="TWenjuanDAO" />
		</property>
	</bean>
	
	
	
	
	
	<bean id="TUserDAO" class="com.dao.TUserDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory"></ref>
		</property>
	</bean>
	
	<bean id="userAction" class="com.action.UserAction" scope="prototype">
		<property name="userDAO">
			<ref bean="TUserDAO" />
		</property>
	</bean>
	
	
	<bean id="loginService" class="com.service.loginService">
		<property name="adminDAO">
			<ref bean="TAdminDAO" />
		</property>
		<property name="userDAO">
			<ref bean="TUserDAO" />
		</property>
	</bean>
	
	
	<bean id="dwrService" class="com.service.DwrService">
		<property name="wenjuanDAO">
			<ref bean="TWenjuanDAO" />
		</property>
		<property name="toupiaoDAO">
			<ref bean="TToupiaoDAO" />
		</property>
		<property name="toupiaoxuanxiangDAO">
			<ref bean="TToupiaoxuanxiangDAO" />
		</property>
	</bean>
	
	
	
	<bean id="TAdminDAO" class="com.dao.TAdminDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="adminAction" class="com.action.adminAction" scope="prototype">
		<property name="adminDAO">
			<ref bean="TAdminDAO" />
		</property>
	</bean>
	
	
	
	<bean id="TGonggaoDAO" class="com.dao.TGonggaoDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory"></ref>
		</property>
	</bean>
	<bean id="gonggaoAction" class="com.action.gonggaoAction" scope="prototype">
		<property name="gonggaoDAO">
			<ref bean="TGonggaoDAO" />
		</property>
	</bean>
	
	
	
	<bean id="TToupiaoDAO" class="com.dao.TToupiaoDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="TToupiaoxuanxiangDAO" class="com.dao.TToupiaoxuanxiangDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	
	
	<bean id="toupiaoAction" class="com.action.toupiaoAction" scope="prototype">
		<property name="toupiaoDAO">
			<ref bean="TToupiaoDAO" />
		</property>
		<property name="toupiaoxuanxiangDAO">
			<ref bean="TToupiaoxuanxiangDAO" />
		</property>
	</bean>
	
	
	<bean id="TWenjuanDAO" class="com.dao.TWenjuanDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="wenjuanAction" class="com.action.wenjuanAction" scope="prototype">
		<property name="wenjuanDAO">
			<ref bean="TWenjuanDAO" />
		</property>
		<property name="toupiaoDAO">
			<ref bean="TToupiaoDAO" />
		</property>
		<property name="toupiaoxuanxiangDAO">
			<ref bean="TToupiaoxuanxiangDAO" />
		</property>
	</bean>
	
	
	</beans>